<app-navbar></app-navbar>

<!-- Side Navigation / Breadcrumbs -->
<nav id="sideNav" class="d-none d-xl-flex flex-column align-items-center justify-content-center position-fixed h-100 z-3" style="right: 30px; top: 0; pointer-events: none;">
    <ul class="nav flex-column gap-3" style="pointer-events: auto;">
        <li class="nav-item"><a class="nav-link rounded-circle border p-0 side-nav-dot" href="#hero" title="Home" data-bs-toggle="tooltip" data-bs-placement="left"></a></li>
        <li class="nav-item"><a class="nav-link rounded-circle border p-0 side-nav-dot" href="#about" title="Our Story" data-bs-toggle="tooltip" data-bs-placement="left"></a></li>
        <li class="nav-item"><a class="nav-link rounded-circle border p-0 side-nav-dot" href="#experience" title="Experience" data-bs-toggle="tooltip" data-bs-placement="left"></a></li>
        <li class="nav-item"><a class="nav-link rounded-circle border p-0 side-nav-dot" href="#menu" title="Menu" data-bs-toggle="tooltip" data-bs-placement="left"></a></li>
        <li class="nav-item"><a class="nav-link rounded-circle border p-0 side-nav-dot" href="#gallery" title="Gallery" data-bs-toggle="tooltip" data-bs-placement="left"></a></li>
        <li class="nav-item"><a class="nav-link rounded-circle border p-0 side-nav-dot" href="#reservation" title="Reserve" data-bs-toggle="tooltip" data-bs-placement="left"></a></li>
    </ul>
</nav>

<app-hero></app-hero>
<app-about></app-about>
<app-menu></app-menu>
<app-special-offer></app-special-offer>
<app-gallery></app-gallery>
<app-testimonials></app-testimonials>
<app-reservation></app-reservation>
<app-footer></app-footer>
